* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #16232E;
    color: #fff;   
}

body {
    
    display:grid;
    grid-template-areas:
    "header header"
    "main main";
    grid-template-columns: 1fr 1fr; 
    gap: 2em;
}

.cabecalho {
    font-size: 30px;
    padding-top: 10vw;
    grid-area: header;
    justify-self: center;
    margin-bottom: 30px;
}

.container {
    grid-area: main;
    justify-self: center;
    row-gap: 2em;  
   
}

form {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap:2em;    
}

form input{
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

button{
    padding: 6px;
    background-color: #CC8D1A;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;

}

table {
    width: 100%;
    margin-top: 60px;
    
}

table th {
    border-bottom: 3px solid #CC8D1A;
    font-size: 18px;
    padding: 10px;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}

